<!-- LS Header – Ripped d'reckly from Learning Space -->
{% include 'learningspace-header.html' %}

  <h1>Welcome back, {{ userFirstName }}</h1> 

  <!-- My Modules -->
  <h2>My Modules</h2>
  <ul>
  {# Define fullname var that we will #}
  {# use to check repitition inside for loop. #}
  {# Skip if is same coursename as prev #}
 
  {% set fullname = '' %}

  {# Define fullname var that we will #}
  {% for module in modules %}
  	{% if module.fullname != fullname %}
  		
  		{% set fullname = module.fullname %}

  		<li>
        <a href="{{ base ~ '/course/view.php?id=' ~ module.id }}">{{ module.shortname }}</a>

        {# if there is a reading list for this module #}
        {% if readingLists[module.fullname][0].name != "" %}
        <ul>
          <li>
            <a href="{{ readingLists[module.fullname][0].url }}"><strong>Reading List</strong></a>
          </li>
        </ul>
        {% endif %}
      </li>
  	
  	{% else %}
  		{# Do nothing #}   	
    {% endif %}
  {% endfor %}
</ul>
<!-- END My Modules -->

  <!-- Contacts -->
  <h2>Contacts</h2>
  <ul>
      {% for contact in contacts %}
      <li>{{ contact.name }}
          <ul>
            
            <li>{{ contact.email }}</li>
            <li>{{ contact.telephone }}</li>
          </ul>
      </li>
      {% endfor %}
  </ul>
  <!-- END Contacts -->

  <!-- Contacts -->
  <h2>Files</h2>
  <ul>
      {% for file in files %}
          <li><a href="{{ file.link }}">{{ file.title }}</a></li>
      {% endfor %}
  </ul>
  <!-- END Contacts -->

  <!-- Reading Lists -->
  <h2>Reading Lists</h2>
  <ul>
    {% for moduleReadingList in readingLists %}
      {% for item in moduleReadingList %}
        <li><a href="{{ item.url }}">{{ item.name }}</a></li>
      {% endfor %}
    {% endfor %}
  </ul>
  <!-- END Reading Lists -->

<!-- LS Footer – Ripped d'reckly from Learning Space -->
{% include 'learningspace-footer.html' %}