<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Page title</title>
<link rel="stylesheet" type="text/css" href="{{ base }}/rdrctr/public/css/style.css">
</head>
<body id="page-site-index" class="cbp-spmenu-push format-site course path-site safari dir-ltr lang-en yui-skin-sam yui3-skin-sam learningspace-falmouth-ac-uk pagelayout-frontpage course-1 context-2 side-pre-only">
  <div id="wrapper">
  <div class="skiplinks"><a class="skip" href="#maincontent">Skip to main content</a></div>
  <script type="text/javascript">
    //<![CDATA[
    document.body.className += ' jsenabled';
    //]]>
  </script>

<header role="banner" class="navbar navbar-fixed-top">
  <nav role="navigation" class="navbar-inner navbar-inverse">
    <div class="container-fluid">
      <a class="brand" href="http://learningspace.falmouth.ac.uk">Learning Space</a>
      <div id="mobile-header">
        <a id="responsive-menu-button" href="#sidr-main"><i class="fa icon fa-bars"></i></a>
      </div>
      <ul class="nav">
        <li><a href="http://learningspace.falmouth.ac.uk">My Modules</a></li>

        <li class="dropdown"><a class="menu-item-resources dropdown-toggle" data-toggle="dropdown" href="#">Resources</a>
          <ul class="dropdown-menu">
            <li><a href="http://ask.fxplus.ac.uk/">ASK (Academic Skills)</a></li>
            <li><a href="http://www.falmouth.ac.uk/facilities/the-compass">The Compass</a></li>
            <li><a href="http://careerhub.falmouth.ac.uk">Creative Futures Hub</a></li>
            <li><a href="http://dyslexia.fxplus.ac.uk">Dyslexia Skills</a></li>
            <li><a href="http://intranet.falmouth.ac.uk/html/finance/">Finance Services</a></li>
            <li><a href="http://www.fxu.org.uk/">FXU</a></li>
            <li><a href="https://sp.falmouth.ac.uk/public/itservices/Pages/IT%20Services.aspx">IT Services</a></li>
            <li><a href="http://library.fxplus.ac.uk/">Library and Information Services</a></li>
            <li><a href="http://intranet.falmouth.ac.uk/html/qualityoffice/">Quality Office</a></li>
            <li><a href="/course/view.php?id=665">Assessment Information</a></li>
            <li><a href="http://learningspace.falmouth.ac.uk/course/view.php?id=686">Software Training</a></li>
            <li><a href="http://learningspace.falmouth.ac.uk/course/view.php?id=714&section=1&section=1">Student Reps</a></li>
            <li><a href="http://www.fxplus.ac.uk/study/student-support-services">Student Support</a></li>
            <li class="divider"></li>
            <li class="disabled">
              <a href="http://etsupport.freshdesk.com/support/tickets/new" style="cursor:pointer">Not listed? Please make contact here</a>
            </li>
          </ul>
        </li>
      </ul>
    <div class="">
      <ul class="nav pull-right">
        <li class="editbtn"></li> 
        <li><a href="http://etsupport.freshdesk.com/support/solutions/158481">Help</a></li> 
        <li></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="http://learningspace.falmouth.ac.uk/user/profile.php?id=15" title="View profile"><img src="http://learningspace.falmouth.ac.uk/pluginfile.php/626/user/icon/learningspace/f2?rev=113127" />Aaron Marr <b class="caret"></b></a><ul class="dropdown-menu" id="user-context-menu" role="menu"><li id="usermenuheader"><h2>User Menu</h2></li><li class="menu-item-resources"><a href="/">My Modules</a></li><li ><a href="http://mytimetable.falmouth.ac.uk/">My Timetable</a></li><li><a href="http://learningspace.falmouth.ac.uk/user/profile.php?id=15" title="View profile">My Profile</a></li><li id="student-email-link"><a href="http://studentmail.falmouth.ac.uk/">My Email</a></li><li id="staff-email-link"><a href="http://mailspace.falmouth.ac.uk/">My Email</a></li><li class="divider"></li><li><a href="http://learningspace.falmouth.ac.uk/login/logout.php?sesskey=rirJYNBRkX">Logout</a></li></ul></li>
        <!--<li><a href="#" id="trigger" class="icon-list"> MAIN MENU</a></li>-->
        <!--<button id="showLeft">Show/Hide Left Slide Menu</button>-->
      </ul>
    </div>
    </div>
  </nav>
</header>

<div id="page-wrapper">
  <div id="page" class="container-fluid">
    <div id="page-content" class="row-fluid">
      <section id="region-main" class="span8 offset-2">
        <div role="main">