        </div>
      </section>
    </div>
  </div>
</div>
<footer id="footer">
  <div class="container-fluid">
    <div class="row-fluid page-footer">
      <ul class="unstyled">
        <li><a href="http://studentmail.falmouth.ac.uk/">Student Email</a></li>
        <li><a href="http://mailspace.falmouth.ac.uk/">Staff Email</a></li>
        <li><a href="http://www.falmouth.ac.uk/term-dates-201314">Term Dates</a></li>
        <li><a href="http://et.falmouth.ac.uk">Help</a></li>
        <li><a href="falmouth.ac.uk">Educational Technology</a></li>
      </ul>
    </div>
    <span id="credits">
      <small>Lovingly crafted by <a href="http://et.falmouth.ac.uk">Educational Technology</a>. &copy; University College Falmouth. All rights reserved.</small>
    </span>
    <a id="fal-logo" href="http://falmouth.ac.uk/"></a>
  </div>
</footer>
<!-- End of body html -->
</body>
</html>